<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="IdeaContext" connectionString="metadata=res://*/ERMTModel.csdl|res://*/ERMTModel.ssdl|res://*/ERMTModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=[SERVER_NAME];initial catalog=[DATABASE_NAME];persist security info=True;user id=[DATABASE_USER];password=[DATABASE_PASSWORD];MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NewBinding0" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="40" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <reliableSession inactivityTimeout="23:00:00"/>
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/UserService/" binding="netTcpBinding" bindingConfiguration="NewBinding0" contract="UserService.IUserService" name="netTcpBinding_IUserService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/FactorService/" binding="netTcpBinding" bindingConfiguration="NewBinding0" contract="FactorService.IFactorService" name="netTcpBinding_IFactorService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/DocumentService/" binding="netTcpBinding" bindingConfiguration="NewBinding0" contract="DocumentService.IDocumentService" name="netTcpBinding_IDocumentService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/RoleService/" binding="netTcpBinding" bindingConfiguration="NewBinding0" contract="RoleService.IRoleService" name="netTcpBinding_IRoleService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/RegionService/" binding="netTcpBinding" bindingConfiguration="NewBinding0" contract="RegionService.IRegionService" name="netTcpBinding_IRegionService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/ModelService/" binding="netTcpBinding" bindingConfiguration="NewBinding0" contract="ModelService.IModelService" name="netTcpBinding_IModelService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/ModelFactorService/" binding="netTcpBinding" bindingConfiguration="NewBinding0" contract="ModelFactorService.IModelFactorService" name="netTcpBinding_IModelFactorService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/ModelFactorDataService/" binding="netTcpBinding" bindingConfiguration="NewBinding0" contract="ModelFactorDataService.IModelFactorDataService" name="netTcpBinding_IModelFactorDataService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/ReportService/" binding="netTcpBinding" bindingConfiguration="NewBinding0" contract="ReportService.IReportService" name="netTcpBinding_IReportService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/MarkerTypeService/" binding="netTcpBinding" bindingConfiguration="NewBinding0" contract="MarkerTypeService.IMarkerTypeService" name="NetTcpBinding_IMarkerTypeService1">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/MarkerService/" binding="netTcpBinding" bindingConfiguration="NewBinding0" contract="MarkerService.IMarkerService" name="NetTcpBinding_IMarkerService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>

      <endpoint address="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/PhaseService/" binding="netTcpBinding" bindingConfiguration="NewBinding0" contract="PhaseService.IPhaseService" name="netTcpBinding_IPhaseService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/PhaseBulletService/" binding="netTcpBinding" bindingConfiguration="NewBinding0" contract="PhaseBulletService.IPhaseBulletService" name="netTcpBinding_IPhaseBulletService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/ModelRiskAlertService/" binding="netTcpBinding" bindingConfiguration="NewBinding0" contract="ModelRiskAlertService.IModelRiskAlertService" name="netTcpBinding_IModelRiskAlertService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>

    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
  <appSettings>
    <add key="ModulePath" value="\Modules\"/>
    <add key="HTMLFolder" value="HTML\"/>
    <add key="HTMLPMMFolder" value="HTML\PMM\"/>
    <add key="DocumentFolder" value="HTML\Documents\"/>
    <add key="HtmlTemplate" value="HTML\Template.htm"/>
    <add key="DefaultCss" value="HTML\graphical3.css"/>
    <add key="IndexTemplate" value="HTML\Index-base-template.htm"/>
    <add key="Index" value="HTML\Index-base.htm"/>
    <add key="IconFolder" value="Creative\"/>
    <add key="MapLegendsFolder" value="MapLegends\"/>
    <add key="ShapefilesFolder" value="Shapefiles\" />
    <add key="PPMFirstScreen" value="HTML\PMM\FirstScreen.htm"/>
    <add key="PPMBulletTemplate" value="HTML\PMM\Template-AP.htm"/>
    <add key="PPMFullTextTemplate" value="HTML\PMM\Template-FullText.htm"/>
    <add key="PPMFirstColumnTemplate" value="HTML\PMM\Template-IEMJ.htm"/>
    <add key="PPMSecondColumnTemplate" value="HTML\PMM\Template-IES.htm"/>
    <add key="PPMThirdColumnTemplate" value="HTML\PMM\Template-IPA.htm"/>
    <add key="PPMPractitionersTipsTemplate" value="HTML\PMM\Template-PT.htm"/>

    <add key="RARFolder" value="HTML\RiskAlerts\"/>
    <add key="RARDocumentsFolder" value="HTML\RiskAlerts\Docs\"/>
    <add key="RARTemplate" value="HTML\RiskAlerts\template.htm"/>
    <add key="RARHtmlGridFile" value="HTML\RiskAlerts\Html\grid.html"/>
    <add key="RARHtmlBulletsFile" value="HTML\RiskAlerts\Html\grid.html"/>
    <add key="RARHtmlAlarmFile" value="HTML\RiskAlerts\Html\alarm.html"/>

  </appSettings>
</configuration>
