<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUserService" />
        <binding name="BasicHttpBinding_IRegionService" />
        <binding name="BasicHttpBinding_IDocumentService" />
        <binding name="BasicHttpBinding_IFactorService" />
        <binding name="BasicHttpBinding_IMarkerService" />
        <binding name="BasicHttpBinding_IModelFactorDataService" />
        <binding name="BasicHttpBinding_IModelFactorService" />
        <binding name="BasicHttpBinding_IModelRiskAlertService" />
        <binding name="BasicHttpBinding_IModelService" />
        <binding name="BasicHttpBinding_IPhaseBulletService" />
        <binding name="BasicHttpBinding_IPhaseService" />
        <binding name="BasicHttpBinding_IReportService" />
        <binding name="BasicHttpBinding_IRoleService" />
        <binding name="BasicHttpBinding_IMarkerTypeService" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IUserService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IRegionService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IDocumentService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IFactorService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IMarkerService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IModelFactorDataService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IModelFactorService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IModelRiskAlertService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IModelService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IPhaseBulletService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IPhaseService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IReportService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IRoleService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IMarkerTypeService">
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="MetadataExchangeHttpBinding_IUserService">
          <security mode="None" />
        </binding>
        <binding name="MetadataExchangeHttpBinding_IRegionService">
          <security mode="None" />
        </binding>
        <binding name="MetadataExchangeHttpBinding_IDocumentService">
          <security mode="None" />
        </binding>
        <binding name="MetadataExchangeHttpBinding_IFactorService">
          <security mode="None" />
        </binding>
        <binding name="MetadataExchangeHttpBinding_IMarkerService">
          <security mode="None" />
        </binding>
        <binding name="MetadataExchangeHttpBinding_IModelFactorDataService">
          <security mode="None" />
        </binding>
        <binding name="MetadataExchangeHttpBinding_IModelFactorService">
          <security mode="None" />
        </binding>
        <binding name="MetadataExchangeHttpBinding_IModelRiskAlertService">
          <security mode="None" />
        </binding>
        <binding name="MetadataExchangeHttpBinding_IModelService">
          <security mode="None" />
        </binding>
        <binding name="MetadataExchangeHttpBinding_IPhaseBulletService">
          <security mode="None" />
        </binding>
        <binding name="MetadataExchangeHttpBinding_IPhaseService">
          <security mode="None" />
        </binding>
        <binding name="MetadataExchangeHttpBinding_IReportService">
          <security mode="None" />
        </binding>
        <binding name="MetadataExchangeHttpBinding_IRoleService">
          <security mode="None" />
        </binding>
        <binding name="MetadataExchangeHttpBinding_IMarkerTypeService">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/UserService/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IUserService"
        contract="UserService.IUserService" name="NetTcpBinding_IUserService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/UserService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService"
        contract="UserService.IUserService" name="BasicHttpBinding_IUserService" />
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/UserService/mex"
        binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IUserService"
        contract="UserService.IUserService" name="MetadataExchangeHttpBinding_IUserService" />
      <endpoint address="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/UserService/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IUserService"
        contract="UserService.IUserService" name="NetTcpBinding_IUserService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/UserService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService"
        contract="UserService.IUserService" name="BasicHttpBinding_IUserService1" />
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/UserService/mex"
        binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IUserService"
        contract="UserService.IUserService" name="MetadataExchangeHttpBinding_IUserService1" />
      <endpoint address="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/RegionService/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IRegionService"
        contract="RegionService.IRegionService" name="NetTcpBinding_IRegionService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/RegionService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRegionService"
        contract="RegionService.IRegionService" name="BasicHttpBinding_IRegionService" />
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/RegionService/mex"
        binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IRegionService"
        contract="RegionService.IRegionService" name="MetadataExchangeHttpBinding_IRegionService" />
      <endpoint address="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/RegionService/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IRegionService"
        contract="RegionService.IRegionService" name="NetTcpBinding_IRegionService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/RegionService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRegionService"
        contract="RegionService.IRegionService" name="BasicHttpBinding_IRegionService1" />
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/RegionService/mex"
        binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IRegionService"
        contract="RegionService.IRegionService" name="MetadataExchangeHttpBinding_IRegionService1" />
      <endpoint address="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/FactorService/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFactorService"
        contract="FactorService.IFactorService" name="NetTcpBinding_IFactorService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/FactorService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFactorService"
        contract="FactorService.IFactorService" name="BasicHttpBinding_IFactorService" />
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/FactorService/mex"
        binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IFactorService"
        contract="FactorService.IFactorService" name="MetadataExchangeHttpBinding_IFactorService" />
      <endpoint address="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/FactorService/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFactorService"
        contract="FactorService.IFactorService" name="NetTcpBinding_IFactorService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/FactorService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFactorService"
        contract="FactorService.IFactorService" name="BasicHttpBinding_IFactorService1" />
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/FactorService/mex"
        binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IFactorService"
        contract="FactorService.IFactorService" name="MetadataExchangeHttpBinding_IFactorService1" />
      <endpoint address="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/MarkerService/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMarkerService"
        contract="MarkerService.IMarkerService" name="NetTcpBinding_IMarkerService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/MarkerService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMarkerService"
        contract="MarkerService.IMarkerService" name="BasicHttpBinding_IMarkerService" />
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/MarkerService/mex"
        binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IMarkerService"
        contract="MarkerService.IMarkerService" name="MetadataExchangeHttpBinding_IMarkerService" />
      <endpoint address="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/MarkerService/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMarkerService"
        contract="MarkerService.IMarkerService" name="NetTcpBinding_IMarkerService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/MarkerService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMarkerService"
        contract="MarkerService.IMarkerService" name="BasicHttpBinding_IMarkerService1" />
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/MarkerService/mex"
        binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IMarkerService"
        contract="MarkerService.IMarkerService" name="MetadataExchangeHttpBinding_IMarkerService1" />
      <endpoint address="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/ModelFactorDataService/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IModelFactorDataService"
        contract="ModelFactorDataService.IModelFactorDataService" name="NetTcpBinding_IModelFactorDataService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/ModelFactorDataService/://localhost:8731/Design_Time_Addresses/Idea.Server/ModelFactorDataService/mex"
        binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IModelFactorDataService"
        contract="ModelFactorDataService.IModelFactorDataService" name="MetadataExchangeHttpBinding_IModelFactorDataService" />
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/ModelFactorDataService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IModelFactorDataService"
        contract="ModelFactorDataService.IModelFactorDataService" name="BasicHttpBinding_IModelFactorDataService" />
      <endpoint address="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/ModelFactorDataService/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IModelFactorDataService"
        contract="ModelFactorDataService.IModelFactorDataService" name="NetTcpBinding_IModelFactorDataService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/ModelFactorDataService/://localhost:8731/Design_Time_Addresses/Idea.Server/ModelFactorDataService/mex"
        binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IModelFactorDataService"
        contract="ModelFactorDataService.IModelFactorDataService" name="MetadataExchangeHttpBinding_IModelFactorDataService1" />
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/ModelFactorDataService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IModelFactorDataService"
        contract="ModelFactorDataService.IModelFactorDataService" name="BasicHttpBinding_IModelFactorDataService1" />
      <endpoint address="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/ModelFactorService/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IModelFactorService"
        contract="ModelFactorService.IModelFactorService" name="NetTcpBinding_IModelFactorService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/ModelFactorService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IModelFactorService"
        contract="ModelFactorService.IModelFactorService" name="BasicHttpBinding_IModelFactorService" />
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/ModelFactorService/mex"
        binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IModelFactorService"
        contract="ModelFactorService.IModelFactorService" name="MetadataExchangeHttpBinding_IModelFactorService" />
      <endpoint address="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/ModelFactorService/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IModelFactorService"
        contract="ModelFactorService.IModelFactorService" name="NetTcpBinding_IModelFactorService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/ModelFactorService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IModelFactorService"
        contract="ModelFactorService.IModelFactorService" name="BasicHttpBinding_IModelFactorService1" />
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/ModelFactorService/mex"
        binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IModelFactorService"
        contract="ModelFactorService.IModelFactorService" name="MetadataExchangeHttpBinding_IModelFactorService1" />
      <endpoint address="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/ModelRiskAlertService/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IModelRiskAlertService"
        contract="ModelRiskAlertService.IModelRiskAlertService" name="NetTcpBinding_IModelRiskAlertService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/ModelRiskAlertService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IModelRiskAlertService"
        contract="ModelRiskAlertService.IModelRiskAlertService" name="BasicHttpBinding_IModelRiskAlertService" />
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/ModelRiskAlertService/mex"
        binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IModelRiskAlertService"
        contract="ModelRiskAlertService.IModelRiskAlertService" name="MetadataExchangeHttpBinding_IModelRiskAlertService" />
      <endpoint address="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/ModelRiskAlertService/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IModelRiskAlertService"
        contract="ModelRiskAlertService.IModelRiskAlertService" name="NetTcpBinding_IModelRiskAlertService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/ModelRiskAlertService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IModelRiskAlertService"
        contract="ModelRiskAlertService.IModelRiskAlertService" name="BasicHttpBinding_IModelRiskAlertService1" />
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/ModelRiskAlertService/mex"
        binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IModelRiskAlertService"
        contract="ModelRiskAlertService.IModelRiskAlertService" name="MetadataExchangeHttpBinding_IModelRiskAlertService1" />
      <endpoint address="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/ModelService/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IModelService"
        contract="ModelService.IModelService" name="NetTcpBinding_IModelService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/ModelService/://localhost:8731/Design_Time_Addresses/Idea.Server/ModelService/mex"
        binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IModelService"
        contract="ModelService.IModelService" name="MetadataExchangeHttpBinding_IModelService" />
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/ModelService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IModelService"
        contract="ModelService.IModelService" name="BasicHttpBinding_IModelService" />
      <endpoint address="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/ModelService/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IModelService"
        contract="ModelService.IModelService" name="NetTcpBinding_IModelService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/ModelService/://localhost:8731/Design_Time_Addresses/Idea.Server/ModelService/mex"
        binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IModelService"
        contract="ModelService.IModelService" name="MetadataExchangeHttpBinding_IModelService1" />
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/ModelService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IModelService"
        contract="ModelService.IModelService" name="BasicHttpBinding_IModelService1" />
      <endpoint address="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/PhaseBulletService/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPhaseBulletService"
        contract="PhaseBulletService.IPhaseBulletService" name="NetTcpBinding_IPhaseBulletService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/PhaseBulletService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPhaseBulletService"
        contract="PhaseBulletService.IPhaseBulletService" name="BasicHttpBinding_IPhaseBulletService" />
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/PhaseBulletService/mex"
        binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IPhaseBulletService"
        contract="PhaseBulletService.IPhaseBulletService" name="MetadataExchangeHttpBinding_IPhaseBulletService" />
      <endpoint address="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/PhaseBulletService/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPhaseBulletService"
        contract="PhaseBulletService.IPhaseBulletService" name="NetTcpBinding_IPhaseBulletService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/PhaseBulletService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPhaseBulletService"
        contract="PhaseBulletService.IPhaseBulletService" name="BasicHttpBinding_IPhaseBulletService1" />
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/PhaseBulletService/mex"
        binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IPhaseBulletService"
        contract="PhaseBulletService.IPhaseBulletService" name="MetadataExchangeHttpBinding_IPhaseBulletService1" />
      <endpoint address="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/ReportService/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IReportService"
        contract="ReportService.IReportService" name="NetTcpBinding_IReportService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/ReportService/://localhost:8731/Design_Time_Addresses/Idea.Server/ReportService/mex"
        binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IReportService"
        contract="ReportService.IReportService" name="MetadataExchangeHttpBinding_IReportService" />
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/ReportService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReportService"
        contract="ReportService.IReportService" name="BasicHttpBinding_IReportService" />
      <endpoint address="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/ReportService/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IReportService"
        contract="ReportService.IReportService" name="NetTcpBinding_IReportService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/ReportService/://localhost:8731/Design_Time_Addresses/Idea.Server/ReportService/mex"
        binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IReportService"
        contract="ReportService.IReportService" name="MetadataExchangeHttpBinding_IReportService1" />
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/ReportService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReportService"
        contract="ReportService.IReportService" name="BasicHttpBinding_IReportService1" />
      <endpoint address="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/RoleService/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IRoleService"
        contract="RoleService.IRoleService" name="NetTcpBinding_IRoleService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/RoleService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRoleService"
        contract="RoleService.IRoleService" name="BasicHttpBinding_IRoleService" />
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/RoleService/mex"
        binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IRoleService"
        contract="RoleService.IRoleService" name="MetadataExchangeHttpBinding_IRoleService" />
      <endpoint address="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/RoleService/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IRoleService"
        contract="RoleService.IRoleService" name="NetTcpBinding_IRoleService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/RoleService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRoleService"
        contract="RoleService.IRoleService" name="BasicHttpBinding_IRoleService1" />
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/RoleService/mex"
        binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IRoleService"
        contract="RoleService.IRoleService" name="MetadataExchangeHttpBinding_IRoleService1" />
      <endpoint address="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/MarkerTypeService/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMarkerTypeService"
        contract="MarkerTypeService.IMarkerTypeService" name="NetTcpBinding_IMarkerTypeService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/MarkerTypeService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMarkerTypeService"
        contract="MarkerTypeService.IMarkerTypeService" name="BasicHttpBinding_IMarkerTypeService" />
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/MarkerTypeService/mex"
        binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IMarkerTypeService"
        contract="MarkerTypeService.IMarkerTypeService" name="MetadataExchangeHttpBinding_IMarkerTypeService" />
      <endpoint address="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/MarkerTypeService/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMarkerTypeService"
        contract="MarkerTypeService.IMarkerTypeService" name="NetTcpBinding_IMarkerTypeService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/MarkerTypeService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMarkerTypeService"
        contract="MarkerTypeService.IMarkerTypeService" name="BasicHttpBinding_IMarkerTypeService1" />
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/MarkerTypeService/mex"
        binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IMarkerTypeService"
        contract="MarkerTypeService.IMarkerTypeService" name="MetadataExchangeHttpBinding_IMarkerTypeService1" />
      <endpoint address="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/PhaseService/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPhaseService"
        contract="PhaseService.IPhaseService" name="NetTcpBinding_IPhaseService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/PhaseService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPhaseService"
        contract="PhaseService.IPhaseService" name="BasicHttpBinding_IPhaseService" />
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/PhaseService/mex"
        binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IPhaseService"
        contract="PhaseService.IPhaseService" name="MetadataExchangeHttpBinding_IPhaseService" />
      <endpoint address="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/PhaseService/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPhaseService"
        contract="PhaseService.IPhaseService" name="NetTcpBinding_IPhaseService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/PhaseService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPhaseService"
        contract="PhaseService.IPhaseService" name="BasicHttpBinding_IPhaseService1" />
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/PhaseService/mex"
        binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IPhaseService"
        contract="PhaseService.IPhaseService" name="MetadataExchangeHttpBinding_IPhaseService1" />
      <endpoint address="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/DocumentService/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDocumentService"
        contract="DocumentService.IDocumentService" name="NetTcpBinding_IDocumentService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/DocumentService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDocumentService"
        contract="DocumentService.IDocumentService" name="BasicHttpBinding_IDocumentService" />
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/DocumentService/mex"
        binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IDocumentService"
        contract="DocumentService.IDocumentService" name="MetadataExchangeHttpBinding_IDocumentService" />
      <endpoint address="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/DocumentService/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDocumentService"
        contract="DocumentService.IDocumentService" name="NetTcpBinding_IDocumentService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/DocumentService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDocumentService"
        contract="DocumentService.IDocumentService" name="BasicHttpBinding_IDocumentService1" />
      <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/DocumentService/mex"
        binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IDocumentService"
        contract="DocumentService.IDocumentService" name="MetadataExchangeHttpBinding_IDocumentService1" />
    </client>
  </system.serviceModel>
</configuration>
