<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <appSettings>
    <add key="HTMLFolder" value="HTML\" />
    <add key="HTMLPMMFolder" value="HTML\PMM\" />
    <add key="DocumentFolder" value="HTML\Documents\" />
    <add key="HtmlTemplate" value="HTML\Template.htm" />
    <add key="IndexTemplate" value="HTML\Index-base-template.htm" />
    <add key="Index" value="HTML\Index-base.htm" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="PPMFirstScreen" value="HTML\PMM\FirstScreen.htm" />
    <add key="PPMBulletTemplate" value="HTML\PMM\Template-AP.htm" />
    <add key="PPMFullTextTemplate" value="HTML\PMM\Template-FullText.htm" />
    <add key="PPMFirstColumnTemplate" value="HTML\PMM\Template-IEMJ.htm" />
    <add key="PPMSecondColumnTemplate" value="HTML\PMM\Template-IES.htm" />
    <add key="PPMThirdColumnTemplate" value="HTML\PMM\Template-IPA.htm" />
    <add key="PPMPractitionersTipsTemplate" value="HTML\PMM\Template-PT.htm" />
    <add key="RARFolder" value="HTML\RiskAlerts\" />
    <add key="RARDocumentsFolder" value="HTML\RiskAlerts\Docs\" />
    <add key="RARTemplate" value="HTML\RiskAlerts\template.htm" />
    <add key="RARHtmlGridFile" value="HTML\RiskAlerts\Html\grid.html" />
    <add key="RARHtmlBulletsFile" value="HTML\RiskAlerts\Html\grid.html" />
    <add key="RARHtmlAlarmFile" value="HTML\RiskAlerts\Html\alarm.html" />
  </appSettings>
  <connectionStrings>
    <add name="Idea" connectionString="Initial Catalog=[DATABASE_NAME];Data Source=[SERVER_NAME];User ID=[DATABASE_USER];Password=[DATABASE_PASSWORD]" providerName="SQLOLEDB.1" />
    <add name="IdeaContext" connectionString="metadata=res://*/ERMTModel.csdl|res://*/ERMTModel.ssdl|res://*/ERMTModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=[SERVER_NAME];initial catalog=[DATABASE_NAME];persist security info=True;user id=[DATABASE_USER];password=[DATABASE_PASSWORD];MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="NewBinding2" messageEncoding="Text" transferMode="Streamed"/>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NewBinding1" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <reliableSession inactivityTimeout="23:00:00"/>
          <security mode="None"/>
        </binding>
      </netTcpBinding>
      <mexHttpBinding>
        <binding name="NewBinding0"/>
      </mexHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="Idea.Server.UserServiceBehavior" name="Idea.Server.UserService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="NewBinding1" contract="Idea.Server.IUserService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/UserService/" binding="basicHttpBinding" bindingConfiguration="NewBinding2" contract="Idea.Server.IUserService"/>
        <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/UserService/mex" binding="mexHttpBinding" bindingConfiguration="NewBinding0" bindingNamespace="" contract="Idea.Server.IUserService"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/UserService/"/>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/Idea.Server/UserService/"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="Idea.Server.FactorServiceBehavior" name="Idea.Server.FactorService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="NewBinding1" contract="Idea.Server.IFactorService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/FactorService/" binding="basicHttpBinding" bindingConfiguration="NewBinding2" contract="Idea.Server.IFactorService"/>
        <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/FactorService/mex" binding="mexHttpBinding" bindingConfiguration="NewBinding0" bindingNamespace="" contract="Idea.Server.IFactorService"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/FactorService/"/>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/Idea.Server/FactorService/"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="Idea.Server.DocumentServiceBehavior" name="Idea.Server.DocumentService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="NewBinding1" contract="Idea.Server.IDocumentService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/DocumentService/" binding="basicHttpBinding" bindingConfiguration="NewBinding2" contract="Idea.Server.IDocumentService"/>
        <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/DocumentService/mex" binding="mexHttpBinding" bindingConfiguration="NewBinding0" contract="Idea.Server.IDocumentService"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/DocumentService/"/>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/Idea.Server/DocumentService/"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="Idea.Server.RoleServiceBehavior" name="Idea.Server.RoleService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="NewBinding1" contract="Idea.Server.IRoleService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/RoleService/" binding="basicHttpBinding" bindingConfiguration="NewBinding2" contract="Idea.Server.IRoleService"/>
        <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/RoleService/mex" binding="mexHttpBinding" bindingConfiguration="NewBinding0" contract="Idea.Server.IRoleService"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/RoleService/"/>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/Idea.Server/RoleService/"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="Idea.Server.RegionServiceBehavior" name="Idea.Server.RegionService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="NewBinding1" contract="Idea.Server.IRegionService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/RegionService/" binding="basicHttpBinding" bindingConfiguration="NewBinding2" contract="Idea.Server.IRegionService"/>
        <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/RegionService/mex" binding="mexHttpBinding" bindingConfiguration="NewBinding0" bindingNamespace="" contract="Idea.Server.IRegionService"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/RegionService/"/>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/Idea.Server/RegionService/"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="Idea.Server.ModelFactorServiceBehavior" name="Idea.Server.ModelFactorService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="NewBinding1" contract="Idea.Server.IModelFactorService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/ModelFactorService/" binding="basicHttpBinding" bindingConfiguration="NewBinding2" contract="Idea.Server.IModelFactorService"/>
        <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/ModelFactorService/mex" binding="mexHttpBinding" bindingConfiguration="NewBinding0" bindingNamespace="" contract="Idea.Server.IModelFactorService"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/ModelFactorService/"/>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/Idea.Server/ModelFactorService/"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="Idea.Server.ModelFactorDataServiceBehavior" name="Idea.Server.ModelFactorDataService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="NewBinding1" contract="Idea.Server.IModelFactorDataService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="http:://localhost:8731/Design_Time_Addresses/Idea.Server/ModelFactorDataService/mex" binding="mexHttpBinding" bindingConfiguration="NewBinding0" contract="Idea.Server.IModelFactorDataService"/>
        <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/ModelFactorDataService/" binding="basicHttpBinding" bindingConfiguration="NewBinding2" contract="Idea.Server.IModelFactorDataService"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/ModelFactorDataService/"/>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/Idea.Server/ModelFactorDataService/"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="Idea.Server.ModelServiceBehavior" name="Idea.Server.ModelService">
        <endpoint binding="netTcpBinding" bindingConfiguration="NewBinding1" contract="Idea.Server.IModelService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/ModelService/"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="Idea.Server.ReportServiceBehavior" name="Idea.Server.ReportService">
        <endpoint binding="netTcpBinding" bindingConfiguration="NewBinding1" contract="Idea.Server.IReportService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="http:://localhost:8731/Design_Time_Addresses/Idea.Server/ReportService/mex" binding="mexHttpBinding" bindingConfiguration="NewBinding0" bindingNamespace="" contract="Idea.Server.IReportService"/>
        <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/ReportService/" binding="basicHttpBinding" bindingConfiguration="NewBinding2" contract="Idea.Server.IReportService"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/Idea.Server/ReportService/"/>
            <add baseAddress="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/ReportService/"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="Idea.Server.MarkerServiceBehavior" name="Idea.Server.MarkerService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="NewBinding1" contract="Idea.Server.IMarkerService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/MarkerService/" binding="basicHttpBinding" bindingConfiguration="NewBinding2" contract="Idea.Server.IMarkerService"/>
        <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/MarkerService/mex" binding="mexHttpBinding" bindingConfiguration="NewBinding0" contract="Idea.Server.IMarkerService"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/MarkerService/"/>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/Idea.Server/MarkerService/"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="Idea.Server.MarkerTypeServiceBehavior" name="Idea.Server.MarkerTypeService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="NewBinding1" contract="Idea.Server.IMarkerTypeService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/MarkerTypeService/" binding="basicHttpBinding" bindingConfiguration="NewBinding2" contract="Idea.Server.IMarkerTypeService"/>
        <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/MarkerTypeService/mex" binding="mexHttpBinding" bindingConfiguration="NewBinding0" contract="Idea.Server.IMarkerTypeService"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/MarkerTypeService/"/>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/Idea.Server/MarkerTypeService/"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="Idea.Server.PhaseServiceBehavior" name="Idea.Server.PhaseService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="NewBinding1" contract="Idea.Server.IPhaseService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/PhaseService/" binding="basicHttpBinding" bindingConfiguration="NewBinding2" contract="Idea.Server.IPhaseService"/>
        <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/PhaseService/mex" binding="mexHttpBinding" bindingConfiguration="NewBinding0" bindingNamespace="" contract="Idea.Server.IPhaseService"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/PhaseService/"/>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/Idea.Server/PhaseService/"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="Idea.Server.PhaseBulletServiceBehavior" name="Idea.Server.PhaseBulletService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="NewBinding1" contract="Idea.Server.IPhaseBulletService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/PhaseBulletService/" binding="basicHttpBinding" bindingConfiguration="NewBinding2" contract="Idea.Server.IPhaseBulletService"/>
        <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/PhaseBulletService/mex" binding="mexHttpBinding" bindingConfiguration="NewBinding0" bindingNamespace="" contract="Idea.Server.IPhaseBulletService"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/PhaseBulletService/"/>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/Idea.Server/PhaseBulletService/"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="Idea.Server.ModelRiskAlertServiceBehavior" name="Idea.Server.ModelRiskAlertService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="NewBinding1" contract="Idea.Server.IModelRiskAlertService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/ModelRiskAlertService/" binding="basicHttpBinding" bindingConfiguration="NewBinding2" contract="Idea.Server.IModelRiskAlertService"/>
        <endpoint address="http://localhost:8731/Design_Time_Addresses/Idea.Server/ModelRiskAlertService/mex" binding="mexHttpBinding" bindingConfiguration="NewBinding0" bindingNamespace="" contract="Idea.Server.IModelRiskAlertService"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/ModelRiskAlertService/"/>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/Idea.Server/ModelRiskAlertService/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Idea.Server.UserServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8731/Design_Time_Addresses/Idea.Server/UserService/mex"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="Idea.Server.FactorServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8731/Design_Time_Addresses/Idea.Server/FactorService/mex"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="Idea.Server.DocumentServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8731/Design_Time_Addresses/Idea.Server/DocumentService/mex"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="Idea.Server.RoleServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8731/Design_Time_Addresses/Idea.Server/RoleService/mex"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="Idea.Server.RegionServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8731/Design_Time_Addresses/Idea.Server/RegionService/mex"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="Idea.Server.ModelFactorServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8731/Design_Time_Addresses/Idea.Server/ModelFactorService/mex"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="Idea.Server.ModelFactorDataServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8731/Design_Time_Addresses/Idea.Server/ModelFactorDataService/mex"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="Idea.Server.ModelServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8731/Design_Time_Addresses/Idea.Server/ModelService/mex"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="Idea.Server.ReportServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8731/Design_Time_Addresses/Idea.Server/ReportService/mex"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="Idea.Server.MarkerServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8731/Design_Time_Addresses/Idea.Server/MarkerService/mex"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="Idea.Server.MarkerTypeServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8731/Design_Time_Addresses/Idea.Server/MarkerTypeService/mex"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="Idea.Server.PhaseServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8731/Design_Time_Addresses/Idea.Server/PhaseService/mex"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="Idea.Server.PhaseBulletServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8731/Design_Time_Addresses/Idea.Server/PhaseBulletService/mex"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="Idea.Server.ModelRiskAlertServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8731/Design_Time_Addresses/Idea.Server/ModelRiskAlertService/mex"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>